.footer{
    background-color: var(--primary);
}
.footer__container{
    padding: 2rem 0 6rem;
}
.footer__title,
.footer__link{
    color: var(--body-color);
}
.footer__title{
    margin-bottom: 2rem;
    text-align: center;
}
.footer__list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}
.footer__social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}
.footer__social-link{
    display: inline-flex;
    padding: .25rem;
    border-radius: .25rem;
    background-color: var(--body-color);
    font-size: 1rem;
    color: var(--primary);
}
.footer__copy{
    display: block;
    margin-top: 4.5rem;
    text-align: center;
    font-size: var--smaller-font-size;
    color: var(--container-color);
}

::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(250, 8%, 38%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(250, 8%, 26%);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(250, 8%, 20%);
}

/* ========BREAKPONITS========= */
@media screen and (min-width: 992px){
    .footer__social-link{
        padding: .4rem;
        border-radius: .5rem;
        font-size: 1.25rem;
    }
    
}