header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: .4s;
}
nav{
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    color: var(--primary);
    font-weight: var(--font-medium);
    transition: .4s;
}
.nav__logo:hover{
    color: var(--secondary);
}
.nav__menu{
    position: fixed;
    bottom: 1rem;
    background-color: hsla(219, 32%, 16%, .9);
    width: 90%;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(10px);
    transition: .4s; /* for light mode animation */
}
.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link{
    color: var(--text-color);
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    border-radius: 5rem;
}
/* active link */
.active-link{
    background: linear-gradient(180deg,
                #f4156b,
                #b7094c,
                );
    box-shadow: 0 0 16px hsla(219, 32%, 12%, .8);
    color: var(--title-color);
}
/* cambio de fondo */
.scroll-header{
    box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
}


/* ==================theme================== */
.change-theme{
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s;
}
.change-theme:hover{
    color: var(--primary);
}

/* ====change de partes del theme==== */
body.light-theme{
    --title-color: hsl(219, 15%, 15%);
    --text-color: hsl(219, 8%, 35%);
    --body-color: hsl(219, 100%, 99%);
    --container-color: #fff;
}
.light-theme .scroll-header{
    box-shadow: 0 2px 4px hsla(0, 0%, 1%, .1);
}
.light-theme .nav__menu{
    background-color: hsla(250, 32%, 90%, .8);
}
.light-theme .section__subtitle{
    color: var(--text-color);
}
.light-theme .home__social-link{
    box-shadow: 0 2px 8px hsla(219, 48%, 8%, .1);
}
.light-theme .home__social::after,
.light-theme .footer__social-link{
    background-color: var(--title-color);
}
.light-theme .home__social-link,
.light-theme .home__scroll,
.light-theme .button,
.light-theme .button:hover,
.light-theme .active-work,
.light-theme .footer__title,
.light-theme .footer__link,
.light-theme .footer__copy{
    color: var(--title-color);
}
.light-theme .about__box{
    box-shadow: 0 2px 8px hsla(219, 48%, 8%, .1);
}
.light-theme .skills__content,
.light-theme .services__card,
.light-theme .work__card,
.light-theme .testimonial__card,
.light-theme .contact__card{
    box-shadow: 0 2px 16px hsla(219, 48%, 8%, .1);
}
.light-theme::-webkit-scrollbar{
    background-color: hsl(219, 8%, 66%);
}
.light-theme::-webkit-scrollbar-thumb{
    background-color: hsl(219, 8%, 54%);
}
.light-theme::-webkit-scrollbar-thumb:hover{
    background-color: hsl(219, 8%, 44%);
}


/* ========BREAKPONITS========= */
@media screen and (max-width: 320px) {
    .nav__menu{
        padding: 1rem;
    }
}
/* ========BREAKPONITS========= */
@media screen and (min-width: 576px){
    .nav__menu{
        width: 328px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

