.work__container{
    padding-top: 1rem;
}
.work__filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}
.work__item{
    cursor: pointer;
    padding: .25rem .75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    color: var(--title-color);
}
.work__card{
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 1rem;
}
.work__img{
    margin-bottom: .75rem;
    border-radius: 1rem;
}
.work__title{
    margin-bottom: .25rem;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.work__button{
    display: flex;
    align-items: center;
    column-gap: .25rem;
    width: max-content;
    font-size: var(--small-font-size);
    color: var(--primary);
}
.work__button:hover .work__icon{
    transform: translateX(.25rem);
}
.work__icon{
    font-size: 1rem;
    transition: .4s;
}
.active-work{
    background-color: var(--primary);
    color: var(--body-color);
}

/* ========BREAKPONITS========= */
@media screen and (max-width: 320px){
    .work__item{
        font-size: var(--small-font-size);
    }
    .work__filters{
        column-gap: .25rem;
    }
}
@media screen and (min-width: 576px){
    .work__container{
        justify-content: center;
    }
    .work__img{
        width: 295px;
    }
}
@media screen and (min-width: 767px){
    .work__container{
        grid-template-columns: repeat(2, max-content);
    }
    
}

@media screen and (min-width: 992px){
    .work__container{
        grid-template-columns: repeat(3, max-content);
        gap: 3rem;
    }
    .work__card{
        padding: 1.25rem;
    }
    .work__img{
        margin-bottom: 1rem;
    }
    .work__title{
        margin-bottom: .5rem;
    }
    
}